{
  "presets": [["es2015", { "modules": false }]],
  "plugins": ["transform-vue-jsx"],
  "env": {
    "test": {
      "presets": ["es2015", "stage-2"]
    },
    "build": {
      "presets": ["es2015"]
    }
  }
}
