{
  "parser"  : "babel-eslint",
  "extends" : [
    "standard"
  ],
  "env"     : {
    "browser" : true
  },
  "rules": {
    "semi" : [2, "always"],
    "space-before-function-paren" : [2, "never"],
    "space-after-keywords" : [0, "never"]
  }
}
