<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>vue-recaptcha exmaple</title>
  </head>
  <body>
    <div id="root">
      <div>
        <vue-recaptcha
          ref="recaptcha"
          @verify="onNormalVerify"
          :sitekey="sitekey">
        </vue-recaptcha>
        <div id="normal-verified" v-if="normalVerified">success</div>
      </div>
      <div>
        <vue-recaptcha
          @verify="onBindedVerify"
          :sitekey="sitekey">
          <button id="binded">Click me</button>
        </vue-recaptcha>
        <div id="binded-verified" v-if="bindedVerified">success</div>
      </div>
      <div>
        <form id="form" @submit.prevent="onSubmit">
          <vue-recaptcha
            ref="invisibleRecaptcha"
            @verify="onInvisibleVerify"
            size="invisible"
            :sitekey="sitekey">
          </vue-recaptcha>
          <button id="submit" type="submit" @click.prevent="onSubmit">Submit</button>
          <div id="invisible-verified" v-if="invisibleVerified">success</div>
        </form>
      </div>
    </div>
    <script src="https://unpkg.com/vue@latest/dist/vue.min.js" defer></script>
    <script src="https://www.google.com/recaptcha/api.js?onload=vueRecaptchaApiLoaded&render=explicit" async defer></script>
    <script src="main.js" defer></script>
  </body>
</html>
